@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.reg {
    width: 500px;
    height: 100%;
    padding: 15px 0;
    border: 1px solid #ccc;
    border-radius: .4375rem;
    margin: 150px auto;
}

.reg__form {
    display: flex;
    flex-direction: column;

    &-header {
        color: #4b566b;
        padding: .75rem 1.25rem;
        border-bottom: 1px solid #e3e9ef;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &-body {
        display: flex;
        flex-direction: column;
        padding: .625rem 1rem;
    }

    .reg__form-body label {
        margin-bottom: .375rem;
        font-size: .875rem;
        color: #373f50;
    }

    .reg__form-body input {
        padding: .625rem 1rem;
        font-size: .9375rem;
        color: #4b566b;
        border-radius: .3125rem;
        border: 1px solid #dae1e7;
        margin-bottom: 1rem;
        transition: border-color .3s;

        &:focus {
            border-color: rgba(254, 105, 106, 0.3);
            outline: none;
        }
    }

    .reg__form-body .btn {
        cursor: pointer;
        background-color: #fe696a;
        border-color: #fe696a;
        padding: .625rem 1.375rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: .3125rem;
        color: #fff;
        font-size: 15px;
        box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254, 105, 106, 0.9);
        transition: background .3s;
        margin-top: 50px;

        &:hover {
            background: #fe4344;
            border-color: #fe3638;
        }
    }

    .reg__form-body .message {
        color:red;
        font-size: 12px;
        margin-bottom: 3px;
        font-weight: 600;
    }
    .reg__form-body p {
        font-size: 13px;
        text-align: center;
    }

}

@media (max-width: 520px) {
    .reg {
        width: 100%;
    }
}
